.Home {
    display: grid;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 10%;
}

.Title {
    font-size: 3rem;
    color: #4FB0D2;
    margin-bottom: 3rem;
    text-align: center;
}

.head1 {
    text-align: center;
    margin-bottom: 1rem;
}

.head2 {
    text-align: center;
    margin-bottom: 2rem;
}

.fretboard {
    width: 1000px;
}